 <!DOCTYPE html>
<!-- saved from url=(0063)https://coderthemes.com/ubold/layouts/material/dashboard-3.html -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        
        <title>Dashboard 3 | UBold - Responsive Admin Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
        <meta content="Coderthemes" name="author">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
<!-- App favicon -->
        

        <!-- App css -->
         <link href="/css/app.min.css" rel="stylesheet" type="text/css" id="app-style">
        <!-- icons -->
         <link href="/css/icons.min.css" rel="stylesheet" type="text/css" id="app-style">
        

    
    <!-- body start -->
    <body class="" data-layout-mode="default" data-layout-color="light" data-topbar-color="dark" data-menu-position="fixed" data-leftbar-color="light" data-leftbar-size="default" data-sidebar-user="false">

        <!-- Begin page -->
        <div id="wrapper">

            <!-- Topbar Start -->
  <%= render "partials/navbar"%>
<!-- end Topbar -->

            <!-- ========== Left Sidebar Start ========== -->
    <%= render "partials/leftsidemenu"%>        
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container">
 <%= form_with scope: :registration, url: registration_path, local: true do |form| %>
<h1>user registration form</h1>
        <div class="form-group p-2">
        <strong><%= form.label :name %></strong><br>
        <%= form.text_field :name, class: 'form-control bg-light' %>
      </div>
      <div class="form-group p-2">
      <strong><%= form.label :email %></strong><br>
      <%= form.email_field :email, class: 'form-control  bg-light', placeholder: 'name@gmail.com' %>
      </div>
      <div class="form-group p-2">
        <strong><%= form.label :userid %></strong><br>
        <%= form.text_field :userid, class: 'form-control  bg-light' %>
      </div>
        <div class="form-group p-2">
        <%= form.submit :submit, class: 'form-control btn-dark' %>
      </div>
        <% end %>
        <a href="/user" >home page</a>
    </div>
    </div>
    </div>
    </div>
    </body>
    </html>